.tab {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  background: #ffffff;
  border-radius: 24px;
  padding: var(--token-IOlAtZ9QC);
  border-width: 1px;
  border-style: solid;
}
.tabLink__gaKWg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.tabLink__umf6H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
