.layout {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-lKJzSpnpR);
  flex-wrap: nowrap;
  align-content: stretch;
  overflow: hidden;
  min-width: 0;
  padding: 0px var(--token-zRQjz2Otc) var(--token-zRQjz2Otc);
  margin: var(--token-GEYkHVTwq);
}
@media (min-width: 0px) and (max-width: 768px) {
  .layout {
    padding-left: var(--token-14ZACRAey);
    padding-right: var(--token-14ZACRAey);
  }
}
.navbar:global(.__wab_instance) {
  position: sticky;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
}
.heading {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-14ZACRAey);
  margin-bottom: var(--token-14ZACRAey);
  min-width: 0;
  padding: 8px;
}
.h1 {
  color: var(--token-m6T18ReYY);
  font-size: var(--token-DDVMvTmf6);
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  align-self: center;
  text-align: center;
  line-height: var(--token-POa7fIbwH);
  letter-spacing: -1px;
  margin-bottom: var(--token-QQENFYW4b);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: var(--token-1576dddvS);
  }
}
.p {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-27hF1Rg-3);
  letter-spacing: -0.25px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  align-self: center;
  font-size: var(--token-cEZuuWccf);
  text-align: center;
  min-width: 0;
}
.articleList {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-zRQjz2Otc);
  margin-bottom: var(--token-zRQjz2Otc);
  grid-row-gap: var(--token-zRQjz2Otc);
  grid-column-gap: var(--token-zRQjz2Otc);
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
@media (min-width: 0px) and (max-width: 768px) {
  .articleList {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.articleCard__tAv9B:global(.__wab_instance) {
  position: relative;
}
.img__gz95 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__gz95 > picture > img {
  object-fit: cover;
}
.img__gz95 > .__wab_img-spacer > img {
  object-fit: cover;
}
.articleCard___4Onav:global(.__wab_instance) {
  position: relative;
}
.articleImage2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.articleImage2 > picture > img {
  object-fit: cover;
}
.articleImage2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.articleCard__sTlqt:global(.__wab_instance) {
  position: relative;
}
.articleImage3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.articleImage3 > picture > img {
  object-fit: cover;
}
.articleImage3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.articleCard__f6BlQ:global(.__wab_instance) {
  position: relative;
}
.articleImage4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.articleImage4 > picture > img {
  object-fit: cover;
}
.articleImage4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.articleCard__la6Uz:global(.__wab_instance) {
  position: relative;
}
.articleImage5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.articleImage5 > picture > img {
  object-fit: cover;
}
.articleImage5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.articleCard__g4Xka:global(.__wab_instance) {
  position: relative;
}
.articleImage6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.articleImage6 > picture > img {
  object-fit: cover;
}
.articleImage6 > .__wab_img-spacer > img {
  object-fit: cover;
}
