.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: var(--token-zRQjz2Otc) var(--token-GEYkHVTwq);
}
.h1__ikvf3 {
  color: var(--token-m6T18ReYY);
  font-size: var(--token-DDVMvTmf6);
  font-weight: 400;
  line-height: var(--token-POa7fIbwH);
  font-family: var(--token-27hF1Rg-3);
  letter-spacing: -1px;
  text-transform: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  align-self: center;
  text-align: left;
  margin-bottom: var(--token-GEYkHVTwq);
  margin-top: 0px;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
