.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: var(--token-lKJzSpnpR);
  overflow: auto;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
@media (max-width: 500px) {
  .body {
    overflow: auto;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
@media (max-width: 500px) {
  .footer:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.layout {
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  background: none;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: var(--token-GEYkHVTwq) var(--token-bqYVReuLc);
  margin: var(--token-cC9ZiUnEi) var(--token-GEYkHVTwq) var(--token-bqYVReuLc);
}
.layout > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-bqYVReuLc));
  width: calc(100% + var(--token-bqYVReuLc));
}
.layout > :global(.__wab_flex-container) > *,
.layout > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.layout > :global(.__wab_flex-container) > picture > img,
.layout
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-bqYVReuLc);
}
@media (max-width: 1000px) {
  .layout {
    padding-left: var(--token-zRQjz2Otc);
    padding-right: var(--token-zRQjz2Otc);
  }
}
@media (max-width: 500px) {
  .layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
    width: 100%;
    padding-left: var(--token-14ZACRAey);
    padding-right: var(--token-14ZACRAey);
  }
}
@media (max-width: 500px) {
  .layout > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .layout > :global(.__wab_flex-container) > *,
  .layout > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .layout > :global(.__wab_flex-container) > picture > img,
  .layout
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.highlights {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  padding: var(--token-GEYkHVTwq);
  border-right: 1px none var(--token-m6T18ReYY);
}
@media (max-width: 500px) {
  .highlights {
    width: 100%;
    padding-right: var(--token-GEYkHVTwq);
    padding-left: var(--token-GEYkHVTwq);
    height: auto;
    overflow: visible;
    padding-bottom: var(--token-GEYkHVTwq);
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
  }
}
.headingRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: var(--token-14ZACRAey) var(--token-GEYkHVTwq);
}
@media (max-width: 500px) {
  .headingRight {
    position: relative;
    left: auto;
    top: auto;
  }
}
.h2__bs4Ia {
  color: var(--token-m6T18ReYY);
  font-size: var(--token-1576dddvS);
  letter-spacing: -0.75px;
  line-height: var(--token-POa7fIbwH);
  font-family: var(--token-27hF1Rg-3);
  font-weight: 300;
  max-width: 100%;
  padding-bottom: var(--token-GEYkHVTwq);
  width: 100%;
  min-width: 0;
  margin: var(--token-GEYkHVTwq);
}
.highlightsList {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
.highlightsList > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-14ZACRAey));
  height: calc(100% + var(--token-14ZACRAey));
}
.highlightsList > :global(.__wab_flex-container) > *,
.highlightsList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.highlightsList > :global(.__wab_flex-container) > picture > img,
.highlightsList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-14ZACRAey);
}
@media (max-width: 500px) {
  .highlightsList {
    display: flex;
    height: auto;
    flex-direction: row;
    width: 100%;
    max-width: none;
    max-height: none;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .highlightsList > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: flex-start;
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - var(--token-cC9ZiUnEi));
    width: calc(100% + var(--token-cC9ZiUnEi));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .highlightsList > :global(.__wab_flex-container) > *,
  .highlightsList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .highlightsList > :global(.__wab_flex-container) > picture > img,
  .highlightsList
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-cC9ZiUnEi);
    margin-top: 0px;
  }
}
.cmsDataLoader__q8Y5M:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
@media (max-width: 500px) {
  .cmsDataLoader__q8Y5M:global(.__wab_instance) {
    display: flex;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-row-gap: 0px;
  }
}
.highlightCard:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 500px) {
  .highlightCard:global(.__wab_instance) {
    width: 80%;
    max-width: none;
    height: auto;
    align-self: stretch;
    margin: var(--token-GEYkHVTwq) var(--token-14ZACRAey) var(--token-GEYkHVTwq)
      var(--token-GEYkHVTwq);
  }
}
.text__wcFFw {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-27hF1Rg-3);
  font-size: var(--token-1576dddvS);
  font-weight: 300;
  width: 100%;
  height: auto;
  letter-spacing: -0.75px;
  line-height: var(--token-POa7fIbwH);
  position: relative;
  max-width: 800px;
  min-width: 0;
  margin: var(--token-GEYkHVTwq) var(--token-GEYkHVTwq) 16px;
}
.text__uZoqt {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-GZcn0Qi5a);
  font-size: var(--token-2WImiHVlH);
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.articles {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  padding: var(--token-GEYkHVTwq);
}
@media (max-width: 500px) {
  .articles {
    width: 100%;
    height: auto;
    padding-left: var(--token-GEYkHVTwq);
    padding-right: var(--token-GEYkHVTwq);
    overflow: visible;
  }
}
.headingLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: var(--token-14ZACRAey) var(--token-GEYkHVTwq);
}
@media (max-width: 500px) {
  .headingLeft {
    position: relative;
    left: auto;
    top: auto;
  }
}
.h2___6Yu7X {
  color: var(--token-m6T18ReYY);
  font-size: var(--token-1576dddvS);
  letter-spacing: -0.75px;
  line-height: var(--token-POa7fIbwH);
  font-family: var(--token-27hF1Rg-3);
  font-weight: 300;
  max-width: 800px;
  padding-bottom: var(--token-GEYkHVTwq);
  margin-bottom: var(--token-GEYkHVTwq);
}
.articleList {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
@media (max-width: 1000px) {
  .articleList {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .articleList {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-column-gap: 0px;
  }
}
.cmsDataLoader__br0U:global(.__wab_instance) {
  width: 100%;
  display: grid;
  max-width: 100%;
  position: relative;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: var(--token-zRQjz2Otc);
  grid-column-gap: var(--token-zRQjz2Otc);
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
@media (max-width: 1000px) {
  .cmsDataLoader__br0U:global(.__wab_instance) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 500px) {
  .cmsDataLoader__br0U:global(.__wab_instance) {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
  }
}
.articleCard:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 500px) {
  .articleCard:global(.__wab_instance) {
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.text__ooZnD {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-27hF1Rg-3);
  font-size: var(--token-1576dddvS);
  font-weight: 300;
  width: 100%;
  height: auto;
  letter-spacing: -0.75px;
  line-height: var(--token-POa7fIbwH);
  position: relative;
  max-width: 800px;
  min-width: 0;
  margin: var(--token-GEYkHVTwq) var(--token-GEYkHVTwq) 16px;
}
.text__ptk2Y {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-GZcn0Qi5a);
  font-size: var(--token-2WImiHVlH);
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
