.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-lKJzSpnpR);
  min-width: 0;
  min-height: 0;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
.article {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  min-width: 0;
  padding: var(--token-zRQjz2Otc) var(--token-GEYkHVTwq);
}
.article > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-GEYkHVTwq));
  height: calc(100% + var(--token-GEYkHVTwq));
}
.article > :global(.__wab_flex-container) > *,
.article > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.article > :global(.__wab_flex-container) > picture > img,
.article
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-GEYkHVTwq);
}
.link {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-GZcn0Qi5a);
  font-size: var(--token-2WImiHVlH);
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  align-self: flex-start;
  margin-bottom: 24px;
  padding-left: 0px;
}
.cmsDataLoader:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.articleHero {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
.articleHero > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-14ZACRAey));
  width: calc(100% + var(--token-14ZACRAey));
}
.articleHero > :global(.__wab_flex-container) > *,
.articleHero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.articleHero > :global(.__wab_flex-container) > picture > img,
.articleHero
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-14ZACRAey);
}
@media (max-width: 1000px) {
  .articleHero {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .articleHero {
    width: 100%;
    min-width: 0;
    padding: var(--token-14ZACRAey);
  }
}
@media (max-width: 500px) {
  .articleHero > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img {
  object-fit: cover;
  width: 40%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.info {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-cC9ZiUnEi);
  margin-bottom: var(--token-GEYkHVTwq);
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
.cmsEntryField__xF3Z3:global(.__wab_instance) {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-GZcn0Qi5a);
  font-size: var(--token-2WImiHVlH);
  font-weight: 400;
  text-transform: uppercase;
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  border-radius: 24px;
  padding: var(--token-PrjspTxQ9) var(--token-cC9ZiUnEi);
  border: 1px solid var(--token-m6T18ReYY);
}
.cmsEntryField__nmy0D:global(.__wab_instance) {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-27hF1Rg-3);
  font-size: var(--token-1576dddvS);
  font-weight: 300;
  width: 100%;
  height: auto;
  letter-spacing: -0.75px;
  line-height: var(--token-POa7fIbwH);
  max-width: 100%;
  min-width: 0;
  margin: var(--token-cC9ZiUnEi) var(--token-GEYkHVTwq) 16px;
}
.cmsEntryField__xjoJh:global(.__wab_instance) {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-GZcn0Qi5a);
  font-size: var(--token-2WImiHVlH);
  font-weight: 400;
  text-transform: uppercase;
  max-width: 100%;
  position: relative;
}
.cmsEntryField__jqYAr:global(.__wab_instance) {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-kIZYP6F-f);
  letter-spacing: 0px;
  font-weight: 400;
  font-size: var(--token-cEZuuWccf);
  line-height: var(--token-oybP_xLay);
  max-width: 100%;
  position: relative;
  margin-top: var(--token-14ZACRAey);
  margin-bottom: var(--token-14ZACRAey);
}
.text__tkRH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__iw0Gu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
