.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--token-lKJzSpnpR);
  backdrop-filter: blur(16px);
  min-width: 0;
  -webkit-backdrop-filter: blur(16px);
  padding: var(--token-cC9ZiUnEi) var(--token-bqYVReuLc);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-GEYkHVTwq));
  width: calc(100% + var(--token-GEYkHVTwq));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-GEYkHVTwq);
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 20%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.text {
  font-size: var(--token-0PjLlNJGV);
  font-family: var(--token-27hF1Rg-3);
  color: var(--token-m6T18ReYY);
  font-weight: 200;
  line-height: var(--token-oybP_xLay);
  letter-spacing: -0.5px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: right;
  margin-left: var(--token-zRQjz2Otc) !important;
  min-width: 0;
}
