.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: var(--token-lKJzSpnpR);
  overflow: auto;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
.layout {
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  background: none;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: var(--token-GEYkHVTwq);
  margin: var(--token-GEYkHVTwq) var(--token-GEYkHVTwq) var(--token-bqYVReuLc);
}
.layout > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-bqYVReuLc));
  width: calc(100% + var(--token-bqYVReuLc));
}
.layout > :global(.__wab_flex-container) > *,
.layout > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.layout > :global(.__wab_flex-container) > picture > img,
.layout
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-bqYVReuLc);
}
.articles {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  padding: var(--token-GEYkHVTwq) var(--token-GEYkHVTwq) var(--token-GEYkHVTwq)
    var(--token-bqYVReuLc);
}
.headingLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: var(--token-14ZACRAey) var(--token-GEYkHVTwq);
}
.h2___6Yu7X {
  color: var(--token-m6T18ReYY);
  font-size: var(--token-1576dddvS);
  letter-spacing: -0.75px;
  line-height: var(--token-POa7fIbwH);
  font-family: var(--token-27hF1Rg-3);
  font-weight: 200;
  max-width: 800px;
  padding-bottom: var(--token-GEYkHVTwq);
  margin-bottom: var(--token-GEYkHVTwq);
}
.articleList {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
.cmsDataLoader__br0U:global(.__wab_instance) {
  width: 100%;
  display: grid;
  max-width: 100%;
  position: relative;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: var(--token-zRQjz2Otc);
  grid-column-gap: var(--token-zRQjz2Otc);
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
.articleCard:global(.__wab_instance) {
  max-width: 100%;
}
.text__ooZnD {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-27hF1Rg-3);
  font-size: var(--token-DDVMvTmf6);
  font-weight: 400;
  width: 100%;
  height: auto;
  letter-spacing: -1px;
  line-height: var(--token-POa7fIbwH);
  position: relative;
  max-width: 800px;
  min-width: 0;
  margin: var(--token-GEYkHVTwq) var(--token-GEYkHVTwq) 16px;
}
.text__ptk2Y {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-GZcn0Qi5a);
  font-size: var(--token-2WImiHVlH);
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.products {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  padding: var(--token-GEYkHVTwq) var(--token-bqYVReuLc) var(--token-bqYVReuLc)
    var(--token-GEYkHVTwq);
  border-right: 1px none var(--token-m6T18ReYY);
}
.headingRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: var(--token-14ZACRAey) var(--token-GEYkHVTwq);
}
.h2__bs4Ia {
  color: var(--token-m6T18ReYY);
  font-size: var(--token-1576dddvS);
  letter-spacing: -0.75px;
  line-height: var(--token-POa7fIbwH);
  font-family: var(--token-27hF1Rg-3);
  font-weight: 200;
  max-width: 100%;
  padding-bottom: var(--token-GEYkHVTwq);
  width: 100%;
  min-width: 0;
  margin: var(--token-GEYkHVTwq);
}
.productsList {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-GEYkHVTwq);
}
.productsList > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-14ZACRAey));
  height: calc(100% + var(--token-14ZACRAey));
}
.productsList > :global(.__wab_flex-container) > *,
.productsList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.productsList > :global(.__wab_flex-container) > picture > img,
.productsList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-14ZACRAey);
}
.cmsDataLoader__q8Y5M:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.productCard:global(.__wab_instance) {
  max-width: 100%;
}
.text__wcFFw {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-27hF1Rg-3);
  font-size: var(--token-DDVMvTmf6);
  font-weight: 400;
  width: 100%;
  height: auto;
  letter-spacing: -1px;
  line-height: var(--token-POa7fIbwH);
  position: relative;
  max-width: 800px;
  min-width: 0;
  margin: var(--token-GEYkHVTwq) var(--token-GEYkHVTwq) 16px;
}
.text__uZoqt {
  color: var(--token-m6T18ReYY);
  font-family: var(--token-GZcn0Qi5a);
  font-size: var(--token-2WImiHVlH);
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
